name: Steep

on:
  push:
    branches:
      - main

  pull_request:
    types:
      - opened
      - synchronize
      - reopened
      - ready_for_review

jobs:
  build:
    runs-on: ubuntu-latest
    name: Steep
    steps:
    - uses: actions/checkout@v6.0.2
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ruby
        bundler-cache: true
    - name: Install RBS collection
      run: bundle exec rbs collection install --frozen
    - name: Type check
      run: bundle exec steep check
